In [1]:

from importlib import reload
import synapse_selector.utils.failure_rate
reload(synapse_selector.utils.failure_rate)
from synapse_selector.utils.failure_rate import failure_rate
import pandas as pd

In [2]:
pd.DataFrame({'No. responses first pulse': [5],
             'total detected synapses': [10],
             'fraction responding': [5/10],
             'stimulation frame': [30],
             'patience for response': [10]})

ValueError: If using all scalar values, you must pass an index

In [4]:
peak_df = pd.read_excel('/Users/stephanweissbach/Desktop/keep_folder/test_data.txt/test_data_responses.xlsx')

In [6]:
stimulations = [30,40,50,60,70]

In [19]:
failure_rate(peak_df,stimulations,10)

ROI#1_N/A 30 response
1
ROI#1_N/A 40 no response
1
ROI#1_N/A 50 response
2
ROI#1_N/A 60 response
3
ROI#1_N/A 70 response
4
rate = 4 / 5
ROI#2_N/A 30 response
1
ROI#2_N/A 40 no response
1
ROI#2_N/A 50 response
2
ROI#2_N/A 60 response
3
ROI#2_N/A 70 response
4
rate = 4 / 5
ROI#3_N/A 30 response
1
ROI#3_N/A 40 response
2
ROI#3_N/A 50 response
3
ROI#3_N/A 60 no response
3
ROI#3_N/A 70 response
4
rate = 4 / 5
ROI#4_N/A 30 response
1
ROI#4_N/A 40 response
2
ROI#4_N/A 50 response
3
ROI#4_N/A 60 no response
3
ROI#4_N/A 70 response
4
rate = 4 / 5
ROI#7_N/A 30 response
1
ROI#7_N/A 40 response
2
ROI#7_N/A 50 response
3
ROI#7_N/A 60 response
4
ROI#7_N/A 70 no response
4
rate = 4 / 5

         ROI  response rate
0  ROI#1_N/A            0.8
1  ROI#2_N/A            0.8
2  ROI#3_N/A            0.8
3  ROI#4_N/A            0.8
4  ROI#7_N/A            0.8

In [5]:
peak_df

,Filename,ROI#,Frame,abs. Amplitude,rel. Amplitude,decay constant (tau),inv. decay constant (invtau)
0,test_data.txt,ROI#1_N/A,32,2.029,1.513,0.031269,31.980476
1,test_data.txt,ROI#1_N/A,52,2.022,1.409,0.558025,1.792034
2,test_data.txt,ROI#1_N/A,70,2.279,1.730,1.693570,0.590469
3,test_data.txt,ROI#2_N/A,32,1.806,1.217,0.042142,23.729026
4,test_data.txt,ROI#2_N/A,52,2.122,1.449,0.032331,30.930055
5,test_data.txt,ROI#2_N/A,63,1.923,1.066,0.043734,22.865653
6,test_data.txt,ROI#2_N/A,71,2.037,1.102,6.350448,0.157469
7,test_data.txt,ROI#2_N/A,79,1.804,0.821,0.032659,30.619386
8,test_data.txt,ROI#3_N/A,32,3.860,3.082,0.726993,1.375529
9,test_data.txt,ROI#3_N/A,42,2.081,1.231,0.519597,1.924569
10,test_data.txt,ROI#3_N/A,51,3.088,2.238,0.833524,1.199726
11,test_data.txt,ROI#3_N/A,72,4.452,3.545,1.123361,0.890186
12,test_data.txt,ROI#4_N/A,32,2.869,2.368,1.220852,0.819100
13,test_data.txt,ROI#4_N/A,42,2.236,1.500,0.040453,24.719864
14,test_data.txt,ROI#4_N/A,51,2.706,2.085,1.405105,0.711691
15,test_data.txt,ROI#4_N/A,53,2.120,1.499,0.040851,24.479179
16,test_data.txt,ROI#4_N/A,71,4.304,3.620,1.939489,0.515600
17,test_data.txt,ROI#7_N/A,32,2.578,1.866,1.077827,0.927793
18,test_data.txt,ROI#7_N/A,41,3.008,2.296,1.114067,0.897612
19,test_data.txt,ROI#7_N/A,43,1.641,0.832,0.043923,22.767362
20,test_data.txt,ROI#7_N/A,51,3.523,2.710,1.289867,0.775274
21,test_data.txt,ROI#7_N/A,61,2.715,1.758,3.731623,0.267980